### Django ###
*.pyc
__pycache__/

### Env Settings ###
.env

### Local database settings ###
db.sqlite3

#### Unit test & coverage reports ###
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

### IDE Files ###
.DS_Store
.vscode

### Var files ###
var/