[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djongo = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
django-nose = "*"
coverage = "*"

[requires]
python_version = "3.6"
